src/main/app/mule-demo-template-parsers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mule-demo-template-parsersFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/templates/vm" doc:name="HTTP"/>
        <set-variable variableName="headerText" value="Hello from Mule!" doc:name="Variable" />
        <set-payload value="#[[{&quot;key&quot;: &quot;key1&quot;, &quot;value&quot;: &quot;value1&quot;},{&quot;key&quot;: &quot;key2&quot;, &quot;value&quot;: &quot;value2&quot;},{&quot;key&quot;: &quot;key3&quot;, &quot;value&quot;: &quot;value3&quot;}]]" doc:name="Set Payload" mimeType="application/java"/>
        <custom-transformer class="com.javastreets.mule.transformers.VelocityTransformer" doc:name="Java" mimeType="text/html">
        	<spring:property name="templatePath" value="templates/vm/index.vm"/>
        </custom-transformer>
        <object-to-string-transformer mimeType="text/html" doc:name="Object to String"/>
        
    </flow>
</mule>
